

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1728px){
    footer{
        border-top: 5px solid var(--cor_-_Light_blue);
        width: 100vw;
        background-color: var(--cor_-_Light_gray);
    }

    .container_nome_rodape{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: var(--cor_-_Lighter_black);
        height: calc(16px*3);
        font-weight: 400;
    }

    /*NOME E CARGO*/
    #rodape_nome, #rodape_paragrafo{
        font-size: 24px;
    }

    #rodape_nome{
        font-weight: 600;
    }

    #rodape_paragrafo{
        font-weight: 400;
    }

    #rodape_paragrafo::before{
        content: "\00a0| ";
    }
    

    /*BOTÃO LINKEDIN*/
    .linkedin{
        height: calc(16px*4);
        margin: 16px auto;
        padding: 16px;
        width: calc(16px*9);
        height: auto;
        text-align: center;
        background-color: var(--cor_-_LinkedIn);
/*      border: 2px solid var(--cor_-_Black);*/
        border-radius: 6px;
        transition: all .2s ease-in-out;        
    }

    .ancora_botao_linkedin{
        text-decoration: inherit;
        color: inherit;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
    }

    .ancora_botao_linkedin::before{
        background-image: url(/img/LinkedIn_logo.png);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        margin-top: 2px;
        background-position-y: center;
        content: "";
    }

    .linkedin:hover, .linkedin:focus{
        transform: scale(1.1);
    }
}