/*HEADER STYLIZATION*/
.container-header{
    width: 100%;
    background-color: var(--color_-_Light_gray);
    color: var(--color_-_Lighter_black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*LH SIDE HEADER STYLIZATION*/
.container-header-left{
    display: flex;
    align-items: center;
}

#header-picture{
    height: calc(var(--scale_-_standard-measurement)*2.5);
    width: calc(var(--scale_-_standard-measurement)*2.5);
    margin: calc(var(--scale_-_standard-measurement)/2);
}

.my-name{
    font-weight: calc(var(--font_-_main-font-weight)*2);
    font-size: calc(var(--scale_-_standard-measurement)*1.5);
}

#header-degree{
    display: none;
}

/*RH SIDE HEADER STYLIZATION*/
.header-hamburguer-menu{
    background-image: url("/img/Menu.svg");
    height: calc(var(--scale_-_standard-measurement)*2.0);
    width: calc(var(--scale_-_standard-measurement)*2.0);
    background-repeat: no-repeat;
    color: var(--color_-_Lighter_black);
    background-position: center;
    border-color: transparent;
    margin-right: calc(var(--scale_-_standard-measurement)/2);
}